<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RedditRipperWeb</title>
    <link rel="stylesheet" href="/css/base.css">
</head>
<body>
    <div class="container" id="root">
        <div class="topbar">
            <p class="clock">
                {{ clock }}
            </p>
        </div>
        <div class="console" ref="console">
            <div class="console-inner">
                <div class="commands">
<div class="commands-content" v-for="output in stdout">{{ output }}</div>
                </div>
                <div class="command-input" v-show="showInput">
                    <div class="user-text">root@RedditRipper:~# </div><input type="text" class="input-console" @keyup.enter="pushCommand" v-model="command" @blur="focusInput" ref="commandInput" @keyup.38="historyUp" @keyup.40="historyDown" autofocus>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/lib/jszip.js"></script>
    <script src="/js/lib/axios.min.js"></script>
    <script src="/js/lib/vue.js"></script>
    <script src="/js/index.js" type="module"></script>
</body>
</html>